.sectionleft {
  background-color: transparent;
  margin-top: 3.824%;
  line-height: 3.5625rem;
  font-style: normal;
  .sectionleft--title {
    background-color: transparent;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3rem;
  }
  .sectionleft--boldTitle {
    background-color: transparent;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 3rem;
  }
}
